@import "../../mediaQuery.scss";
.board {
	height: 100vh;
	color: #ffff;
	background-color: black;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	@include mobile {
		height: 100%;
	}

	.header {
		display: flex;
		align-items: center;
		align-content: flex-start;
		justify-content: space-around;
		text-align: center;
		margin: 5px 20px;

		.modal {
			cursor: pointer;
		}
	}

	.sections {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		background-color: black;
		height: 100%;
		width: 100%;
		// overflow-x: hidden;
		overflow: hidden;
	}
}
