.col {
	background-color: rgb(70, 59, 59);
	color: aliceblue;
	border-radius: 20px;
	width: 320px;
	display: flex;
	flex-direction: column;
	margin: 10px;
	flex-wrap: wrap;
	justify-content: center;

	h5 {
		text-align: center;
		font-size: 20px;
	}
	.drop {
		display: flex;
		flex-direction: column;
		margin: 15px;
		padding: 15px;
		border-radius: 12px;
		justify-content: center;
		border: 2px dashed white;
	}
	.cards {
		.noCard {
			margin: 20px;
			padding: 20px;
			border-radius: 20px;
			background-color: rgb(238, 226, 226);
			color: rgb(16, 19, 22);
		}
	}
}
