.noCards {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(143, 50, 50);
	color: white;
	width: 50%;
	height: 30px;
	padding: 20px;
	margin-top: 20px;
	border-radius: 20px;
}
