.noCards {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(179, 165, 165);
	color: black;
	width: 50%;
	height: 60%;
	padding: 20px;
	margin-top: 20px;
	border-radius: 20px;
}
