.boardCard {
	margin: 15px;
	padding: 15px;
	background-color: rgb(45, 124, 45);
	opacity: 1;
	color: black;
	width: 250px;
	height: 150px;
	border-radius: 15px;
	overflow: hidden;
	&:hover {
		background-color: rgb(70, 158, 70);
		box-shadow: 0px 5px 29px 5px #bea6a6;
	}

	.container {
		color: white;
		display: flex;
		flex-direction: column;
		align-content: space-around;

		.title {
			margin-top: 5px;
			font-size: larger;
			display: flex;
			justify-content: center;
		}

		.link {
			text-decoration: none;
			color: #ffffff;
			font-size: 18px;
		}
		.settings {
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-top: 65px;

			.time {
				flex: 1;
				font-size: 12px;
			}
			.deleteIcon {
				cursor: pointer;
				width: 70px;
				color: #ffffff;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 10px;
				padding: 10px;
				background-color: rgb(233, 40, 40);
				&:hover {
					background-color: darken($color: red, $amount: 13);
				}
			}
		}
	}
}
